.banner-bg {
  width: 100%;
  height: 250px;
  background-image: url("../assets/map/banner.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-heading {
  color: #fff;
  font-size: 38px;
  font-weight: 500;
}

#map-info {
  background: #272727;
  padding-top: 4rem;
  margin-top: -1px;
  margin-bottom: -1px;
}
.map-info-wrapper {
  padding-bottom: 4rem;
}
.map-info-wrapper p {
  font-size: 15px;
  color: #fff;
  width: 550px;
  line-height: 2;
  font-weight: 300;
}
.google-map-address {
  filter: grayscale(10%) invert(90%) contrast(88%);
}

@media only screen and (max-width: 575px) {
  .banner-bg {
    height: 90vh;
    background-image: url("../assets/map/banner-moblie.png");
  }
  .banner-heading {
    font-size: 36px;
  }
  .map-info-wrapper p {
    width: auto;
  }
}
