.banner-bg {
  width: 100%;
  height: 250px;
  background-image: url("../assets/projects/banner.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-heading {
  color: #fff;
  font-size: 38px;
  font-weight: 500;
}

#all-project {
  background: #272727;
  padding: 4rem 0;
  margin-top: -1px;
}

.all-project-items-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  padding: 3rem 0;
}
.heading-underline-right {
  display: flex;
  flex-direction: row;
  font-size: 18px !important;
  margin-top: 2rem;
}
.heading-underline-right span {
  margin-right: 2rem;
  cursor: pointer;
}
.heading-underline-right p {
  color: #fff;
  margin-right: 1rem;
  cursor: pointer;
}
.heading-underline-right p:hover {
  color: #dc8983;
  transition: all 0.3s;
}
.heading-underline-right .active {
  color: #dc8983;
}
.all-project-items-wrapper .project-item {
  background: #404042;
  cursor: pointer;
  text-decoration: none;
  overflow: hidden;
  transition: 0.4s;
}
.all-project-items-wrapper .project-item:hover {
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.4);
  transform: translateY(-5px);
}
.all-project-items-wrapper .project-item .project-item-img img {
  transition: 0.4s;
  width: 100%;
}
.all-project-items-wrapper .project-item:hover .project-item-img img {
  transform: scale(1.1);
}
.all-project-items-wrapper .project-item .project-item-info {
  padding: 1rem 10px;
  text-align: center;
}
.all-project-items-wrapper .project-item .project-item-info .project-name {
  color: #dc8983;
  font-weight: 500;
  font-size: 18px;
  max-width: 180px;
  margin: 0 auto;
  height: 65px;
}
.all-project-items-wrapper .project-item .project-item-info .project-by {
  color: #fff;
  font-size: 13px;
}
.view-more-btn {
  text-align: center;
}
.view-more-btn a {
  font-size: 15px;
  text-decoration: none;
  padding: 4px 2rem;
  background-color: #dc8983;
  border: 1px solid #dc8983;
  color: #fff;
  transition: 0.4s;
}
.view-more-btn a:hover {
  border: 1px solid #dc8983;
  background-color: transparent;
  color: #dc8983;
}

#past-project {
  background: #404042;
  padding: 4rem 0;
}

.past-project-items-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem 1rem;
  padding: 3rem 0;
}
.past-project-items-wrapper .project-item {
  background: #272727;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.4s;
  overflow: hidden;
}
.past-project-items-wrapper .project-item:hover {
  box-shadow: 0 0 18 rgba(0, 0, 0, 0.4);
  transform: translateY(-5px);
}
.past-project-items-wrapper .project-item .project-item-img img {
  transition: all 0.4s;
  width: 100%;
}
.past-project-items-wrapper .project-item:hover .project-item-img img {
  transform: scale(1.1);
}
.past-project-items-wrapper .project-item .project-item-info {
  padding: 1rem 10px;
  text-align: center;
}
.past-project-items-wrapper .project-item .project-item-info .project-name {
  color: #dc8983;
  font-weight: 500;
  font-size: 18px;
  max-width: 180px;
  margin: 0 auto;
  height: 65px;
}
.past-project-items-wrapper .project-item .project-item-info .project-by {
  color: #fff;
  font-size: 13px;
}

@media only screen and (max-width: 991px) {
  .all-project-items-wrapper,
  .past-project-items-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (max-width: 768px) {
  .vertical-line {
    width: 100%;
    height: 1px;
    background: linear-gradient(0.25turn, #b57782, #fad1d0, #b57782);
    margin: 1rem 0;
    display: block !important;
  }
  .heading-box {
    text-align: center;
  }
  .heading-underline {
    width: 100%;
  }
  .heading-underline .line {
    display: none;
  }
  .heading-underline-right {
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
  }
  .heading-underline-right span {
    padding-bottom: 1rem;
  }
  .heading-underline-right span,
  .heading-underline-right p {
    padding-right: 0;
  }
}
@media only screen and (max-width: 575px) {
  .banner-bg {
    height: 90vh;
    background-position: 84%;
  }
  .all-project-items-wrapper,
  .past-project-items-wrapper {
    grid-template-columns: 1fr;
  }
}
