footer {
  width: 100vw;
  padding-top: 4rem;
  background: #272727;
}
.wrapper-footer p,
.wrapper-footer a {
  color: #b8b7b5;
  font-size: 0.9rem;
}
.wrapper-footer h5 {
  color: #fff;
  font-size: 0.9rem;
}
.wrapper-footer a:hover,
.services li a h5:hover,
.works li a h5:hover,
.abouts li a p:hover {
  color: #dc8983;
  transition: 0.3s;
}
.wrapper-footer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.footer-news {
  width: 130px;
}
.footer-services {
  width: 170px;
}
.logo-theones img {
  width: 60px;
}
.theones,
.abouts {
  line-height: 1.8;
}
.theones a {
  text-decoration: none;
}
.theones li a p:hover,
.theones li a:hover,
.wrapper-footer p:hover {
  color: #dc8983;
  transition: 0.3s;
}
.theones .theones-menus {
  padding-left: 1.5rem;
}
.services li a h5,
.works li a h5 {
  margin-bottom: 2rem;
}
.abouts {
  width: 155px;
}
.footer-horizontal-line {
  height: 200px;
  width: 1px;
  background-color: #6a6a6a;
}
.logo-tenthai {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo-tenthai img {
  width: 80px;
}
.logo-tenthai a {
  margin-top: 3rem;
  color: #e7e6e5;
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
}
.footer-socials {
  margin-top: -35px;
  padding-bottom: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-socials p {
  font-size: 1.5rem;
  font-weight: 400;
  color: #ecb4a9;
}
.footer-socials a {
  display: flex;
}
.footer-socials img {
  width: 25px;
  margin-left: 2rem;
  transition: 0.2s;
}
.footer-socials a img:hover {
  transform: translateY(-5px);
}
.footer-socials a:nth-child(1) img {
  margin-left: 0;
}
.footer-underline {
  background: linear-gradient(0.25turn, #be7f88, #fad1d0, #be7f88);
  width: 100%;
  height: 3px;
}
.copyright {
  padding: 0.8rem 0;
  text-align: center;
  font-size: 0.6rem;
  color: #6e6e6d;
  font-weight: 300;
  font-family: "Roboto Condensed", sans-serif;
}
.copyright a {
  color: #6e6e6d;
  text-decoration: none;
  transition: 0.4s;
}
.copyright a:hover {
  color: #fff;
  transition: 0.3s;
}

/*** mobile ***/

.logo-mobile,
.tel-mobile {
  display: none;
}
.services li a {
  display: flex;
}
.animated-line {
  position: relative;
  bottom: -8px;
  margin-right: 5px;
  width: 8px;
  height: 1px;
  background-color: #be7f88;
  animation-name: animatedLine;
  animation-duration: 0.5s;
  display: none;
}
.wrapper-footer-moblie {
  display: none;
}

@keyframes animatedLine {
  0% {
    width: 0px;
  }
  100% {
    width: 8px;
  }
}

@media only screen and (max-width: 991px) {
  .footer-socials {
    margin-top: 0;
  }
  .wrapper-footer {
    display: none;
  }
  .services li:nth-child(3) a h5,
  .works li:nth-child(3) a h5 {
    margin-bottom: 0 !important;
  }
  .logo-mobile,
  .tel-mobile {
    display: block;
    text-align: center;
  }
  .tel-mobile {
    padding-bottom: 1rem;
  }
  .logo-mobile a,
  .tel-mobile a {
    text-decoration: none;
    transition: 0.3s;
  }
  .tel-mobile a:hover {
    color: #dc8983;
    transition: 0.3s;
  }
  .logo-mobile:nth-child(1) a {
    margin-right: 1rem;
  }
  .logo-mobile img {
    width: 80px;
  }
  .tel-mobile a {
    font-size: 1.2rem;
    color: #fff;
  }
  .wrapper-footer-moblie {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 1rem;
  }
  .wrapper-footer-moblie li {
    padding-top: 1rem;
  }
  .wrapper-footer-moblie li a {
    text-decoration: none;
    color: #fff;
  }
  .wrapper-footer-moblie li a:hover {
    color: #dc8983;
    transition: 0.3s;
  }
  .services-1 {
    width: 185px;
  }
  .services-2 {
    width: 135px;
  }
}
@media only screen and (max-width: 575px) {
  .copyright {
    font-size: 0.4rem;
  }
}
