nav {
  width: 100%;
  /* position: fixed; */
  position: relative;
  z-index: 999;
}
.nav-top {
  position: fixed;
  top: 0;
  background-color: #fff;
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 990;
}
.wrapper-nav-top {
  display: flex;
  justify-content: space-between;
}
.wrapper-nav-top .logo {
  cursor: pointer;
  display: flex;
  align-items: center;
}
.wrapper-nav-top .logo .logo-items {
  width: 100%;
}
.wrapper-nav-top .logo .logo-items:nth-child(1) img {
  width: 60px;
}
.wrapper-nav-top .logo .logo-items:nth-child(2) img {
  width: 60px;
}

.wrapper-nav-top .home {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
ul.mainpage li a {
  font-size: 1rem;
  font-weight: 500;
  color: #dc8983;
  transition: 0.4s;
}
ul.mainpage li a:hover {
  color: #939497;
}
ul.socials {
  display: flex;
}
ul.socials li {
  position: relative;
}
ul.socials li:hover .social-item {
  opacity: 0;
}
ul.socials li a:hover.social-item-hover {
  opacity: 1;
}
ul.socials li a {
  display: flex;
}
.social-item {
  opacity: 1;
  transition: all 0.4s;
}
.social-item-hover {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  transition: all 0.4s;
}
ul.socials li a img {
  margin: 0 0.7rem 0 0.7rem;
  width: 20px;
}
.dropdown-language {
  margin-left: 1rem;
  color: #dc8983;
  border-radius: 4px;
  border: 1px solid #dc8983;
  padding: 0 6px;
  outline: none;
  cursor: pointer;
}

.nav-bottom {
  top: 0px;
  height: 50px;
  background-color: #272727;
  display: flex;
  align-items: center;
  margin-top: 70px;
}
ul.menu {
  display: flex;
  justify-content: space-between;
}
ul.menu li a {
  font-size: 0.9rem;
  font-weight: 500;
  color: #fff;
  transition: 0.4s;
}
ul.menu li a:hover {
  color: #dc8983;
}

/*** nav-moblie ***/

.nav-moblie {
  padding-bottom: 2rem;
  padding-left: 1rem;
  background-color: #272727;
  display: none;
}
nav .menu-moblie li {
  padding-top: 1.5rem;
}
nav .menu-moblie li a,
nav .menu-moblie li {
  color: #fff;
  transition: 0.3s;
}
nav .menu-moblie li a:hover,
nav .menu-moblie li span:hover,
nav .theones-menus-moblie a:hover {
  color: #dc8983;
  transition: 0.3s;
}
.menu-moblie i {
  padding-left: 1rem;
}
nav .menu-moblie a {
  text-decoration: none;
}
nav .menu-moblie div,
nav .theones-menus-moblie a {
  color: #939497;
  transition: 0.3s;
}
.theones-menus-moblie div {
  padding-top: 5px;
}

.hamberger-menu {
  display: none;
  font-size: 30px;
  padding-left: 1rem;
  color: #dc8983;
  cursor: pointer;
}
.projects-box {
  height: 0;
  overflow: hidden;
}
.projects-box a {
  color: #fff;
  transition: 0.3s;
}
.projects-box a:hover {
  color: #dc8983;
}

@media only screen and (max-width: 991px) {
  .mainpage {
    display: none;
  }
  .nav-bottom {
    display: none;
  }
  .hamberger-menu {
    display: block;
  }
  .nav-moblie {
    display: block;
    position: fixed;
    top: 70px;
    width: 100%;
    height: 100%;
    right: -1000px;
    opacity: 0.95;
    transition: 0.5s;
    padding: 3rem 0 0 5rem;
  }
  .nav-moblie-toggleclass {
    right: 0;
  }
}
