nav {
  width: 100%;
  /* position: fixed; */
  position: relative;
  z-index: 999;
}
.nav-top {
  background-color: #fff;
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
}
.wrapper-nav-top {
  display: flex;
  justify-content: space-between;
}
.wrapper-nav-top .logo {
  cursor: pointer;
  display: flex;
  align-items: center;
}
.wrapper-nav-top .logo .logo-items {
  width: 100%;
}
.wrapper-nav-top .logo .logo-items:nth-child(1) img {
  width: 60px;
}
.wrapper-nav-top .logo .logo-items:nth-child(2) img {
  width: 60px;
}

.wrapper-nav-top .home {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
ul.mainpage li a {
  font-size: 1rem;
  font-weight: 500;
  color: #dc8983;
  transition: 0.4s;
}
ul.mainpage li a:hover {
  color: #939497;
}
ul.socials {
  display: flex;
}
ul.socials li {
  position: relative;
}
ul.socials li:hover .social-item {
  opacity: 0;
}
ul.socials li a:hover.social-item-hover {
  opacity: 1;
}
ul.socials li a {
  display: flex;
}
.social-item {
  opacity: 1;
  transition: all 0.4s;
}
.social-item-hover {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  transition: all 0.4s;
}
ul.socials li a img {
  margin: 0 0.7rem 0 0.7rem;
  width: 20px;
}
.dropdown-language {
  margin-left: 1rem;
  color: #dc8983;
  border-radius: 4px;
  border: 1px solid #dc8983;
  padding: 0 6px;
  outline: none;
  cursor: pointer;
}

.nav-bottom {
  position: sticky;
  position: -webkit-sticky;
  top: 0px;
  height: 50px;
  background-color: #272727;
  display: flex;
  align-items: center;
}
ul.menu {
  display: flex;
  justify-content: space-between;
}
ul.menu li a {
  font-size: 0.9rem;
  font-weight: 500;
  color: #fff;
  transition: 0.4s;
}
ul.menu li a:hover {
  color: #dc8983;
}
